LoadModule passenger_module /usr/local/rvm/gems/ruby-1.9.3-p429/gems/passenger-4.0.2/libout/apache2/mod_passenger.so
PassengerRoot /usr/local/rvm/gems/ruby-1.9.3-p429/gems/passenger-4.0.2
PassengerRuby /usr/local/rvm/rubies/ruby-1.9.3-p429/bin/ruby

RailsEnv production

# Default our app servers leave 1/2 for system ram
# and assume 100M per passenger instance
PassengerMaxPoolSize <%= ((CONFIG[ENVIRONMENT][:apps][0][:ram] / 2) / 100).to_i  %>
PassengerMaxInstancesPerApp 5
PassengerPoolIdleTime 300

# Performance tuning of passenger
RailsSpawnMethod smart
PassengerMaxRequests 500
# PassengerStatThrottleRate 5
RailsAppSpawnerIdleTime 0
PassengerMaxPreloaderIdleTime 0
